.bg {

    &--light-green {
        background-color: $lightGreen;
    }

    &--dark-grey {
        background-color: $darkGrey;
    }
    &--medium-green {
        background-color: $mediumGreen;
    }
    &--very-dark-grey {
        background-color: $veryDarkGrey;
    }
    &--light-grey {
        background-color: $lightGrey;
    }
    &--medium-grey {
        background-color: $mediumGrey;
    }
    &--white {
        background-color: $white;
    }
    &--flash-green{
        background-color: $flashGreen;
    }
    
}