$paddingForWidth  : (100% - $semiLargeW) / 2;

.large-container {
    padding: 0 $paddingForWidth;
}

.large-container-extended {
    width: $largeW;
    padding: (100% - $semiLargeW) / 2;

    &--bg-purple {
        @extend .large-container-extended;
        background-color: $lightPurple;
    }
}

.full-screen {
    min-height: 100vh;
}


@media screen and (max-width : $phoneSize) {
    .large-container {
        padding: 0 ($paddingForWidth / 2) ;
    }
    
}