

.checkout-content{
    padding-left: 20vw;
    padding-top: 10vh;
}

.checkout-table{
    width: 80%;
    background-color: white;
    border-radius: 30px;    
    margin-top: 5vh;

}


.line-cell{
    background-color: black;
    padding: 0;
    height: 2px;
}

th{
    height: 60px;
}

td{
    text-align: center;
    height: 50px;
}