.search-bar {
    display: flex;
    padding: 5px $fixMarge1;
    background-color: $white;
    border-radius: 0 30px 0 0;
    
    &--input {
        outline: none;
        border: none;
        background-color: transparent;
        width: $largeW;
    }

    &--submit {
        background: none;
        border: none;
        background-color: $white;
        width: $smallFixW ;
        background-color: transparent;

        img {
            width: 100%;
        }
    }
}

.comment-form {
    width: 30%;
    margin: 0 auto;
}

.product-form {
    background-color: $lightGrey;
    padding: $marge1;
    width: 30vw;
}

.login-form{
    border-radius: 10px 10px 50px 50px;
    padding: 5px;
}

@media screen and (max-width: $phoneSize) {
    .comment-form {
        width: 80%;
    }
}