.header {
   position: relative;
    &--main { 
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $darkGreen;
        padding: $marge1;
    }

    &--nav-main {
        display: flex;

        a {
            margin: 0 $fixMarge1;
            color: $white;
            text-decoration: none;
            font-size: $title;
        }
    }

    &--action-wrapper, &--action-wrapper-resp {
        display: flex;
        align-items: center;

        .header--action-items {
            margin: 0 $fixMarge1 ;
            
            &--icon {
                @extend .header--action-items;
                background: none;
                border: none;
                width: $smallFixW;

                img {
                    width: 100%;
                }

            }
        }

        .header--search-bar{
            width: $semiLargeW;
        }
        
    }

    &--username {
        padding: 0 10px;
        color: $white;
    }

    &--username-resp {
        color: $white;
        font-size: 1.3em;
        padding: 10px 0;
    }

    &--action-wrapper-resp {
        display: none;
    }

    &--cart {
        position: absolute;
        right: 0;
        top: 100%;
        background-color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $marge1;

        h3 {
            color: $darkGreen;
            text-align: center;
        }

        .item {
            margin-top: 50px;
        }

        .itemPicture {
            position: relative;
        }

        .priceProduct {
            position: absolute;
            top: 0;
            right: 0;
            background-color: $darkGreen;
            color: $white;
            font-weight: bold;
            padding: 5px;
            border: 1px solid $darkGreen;
        }

        .product_quantity {
            width: 40px;
        }

        .imageBtn {
            background: none;
            border: none;
        }

        .newQuantityBtn img {
            width: 20px;
            height: 20px;
            position: relative;
            top: 5px;
            cursor: pointer;
        }

        .delete-product {
            position: absolute;
            top: -10px;
            left: -10px;
            cursor: pointer;
        }

        .delete-product img {
            width: 35px;
            height: 35px;
        }

        &--buy {
            background-color: $darkGreen;
            color: white;
            padding: $fixMarge1 $fixMarge2;
            margin-top: 50px;
            width: 100%;
        }
    }

    &--bottom {
        display: flex;

        
    }

    &--nav-category-wrapper {
        background-color: $darkGrey;
        width: $normalW;
    }

    &--nav-category {
        width: $semiLargeW;
        display: flex;
        justify-content: space-around;

        &--items {
            color: $white;
            text-decoration: none;
            padding: $fixMarge1 0;
            flex: 1;
            display: inline-flex;
            justify-content: center;
            
            &:hover {
                background-color: $white;
                color: $darkGrey;
            }
        }
    }

    &--logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -5%;
        width: 200px;
    }

    &--burger-btn {
        display: none;
        width: 30px ;
        height: 20px;
        background: none;
        border: none;
        position: relative;
        outline: none;

        span, &::before, &::after {
            width: 100%;
            height: 2px;
            background-color: $white;
            content: "";
            display: block;
        }
        &::before {
            transition: .25s;
            position: absolute;
            top: 0;
        }
        &::after {
            transition: .25s;
            position: absolute;
            bottom: 0;
        }

        &--enable {
            @extend .header--burger-btn;

            span {
                opacity: 0;
            }
            &::before {
                top: 50%;
                transform: rotateZ(45deg) translateY(-50%);
            }

            &::after {
                bottom: 50%;
                transform: rotateZ(-45deg) translateY(50%);
            }
        }
    }
    

}

@media screen and (max-width : $tabletSize){
    .header {

        &--nav-category-wrapper, &--nav-category {
            width: $largeW;
        }

        &--logo {
            position: relative;
            top: 0;
            left: 0;
            width: $smallW / 1.5;
            transform: none;
        }

        &--action-wrapper {
            justify-content: flex-end;
        }

    }
}

@media screen and (max-width : $phoneSize) {
    .header {
        &--logo {
            left: 50%;
            transform: translateX(-50%);
        }

        &--link {
            padding: $fixMarge1 0;
        }

        &--burger-btn {
            display: inline-block;
        }

        &--nav-main-wrapper {
            top: 0;
            left: 0;
            height: 100vh;
            position: absolute;
            transform: translateX(-100%);
            background-color: $darkGreen; 
            transition: .5s;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: $marge1;
        }

        &--nav-main {
            flex-direction: column;
            padding: $fixMarge1;
        }
        
        &--nav--enable {
            transform: translateX(0);
        }

        &--action-wrapper {
            display: none;
        }

        &--action-wrapper-resp {
            display: flex;
            align-items: center;
            flex-direction: column;

            .header--action-items {

                &--icon {
                    margin: $fixMarge1 0;
                }

            }

        }
    }
}