@use "sass:map";

$margins : (
    1 : $marge1,
    2 : $marge2,
    3 : $marge3,
    4 : $marge4,
    5 : $marge5
);

@mixin generateMarginY ($device : "") {
    @for $i from 1 through 5 {
        .my-#{$i}#{$device} {
            margin : map-get($margins, $i) 0
        }
    }
}

@mixin generatePaddingY ($device : "") {
    @for $i from 1 through 5 {
        .py-#{$i}#{$device} {
            padding : map-get($margins, $i) 0
        }
    }
}

//GENERATE MARGIN Y
@include generateMarginY();
@include generatePaddingY();


@media screen  and(max-width : $tabletSize) {
    @include generateMarginY("-tablet");
    @include generatePaddingY("-tablet");
}

@media screen and (max-width : $phoneSize) {
    @include generateMarginY( "-phone");
    @include generatePaddingY("-phone")
}

.paddingX1{
    padding-left: $marge1;
    padding-right: $marge1;
}

.paddingX2{
    padding-left: $marge2;
    padding-right: $marge2;
}

.paddingX3{
    padding-left: $marge3;
    padding-right: $marge3;
}

.fixeMargin3{
    margin-top: $fixMarge3;
    margin-bottom: $fixMarge3;
}
