#verify-title {
    text-align: center;
    margin-top: 100px;
}

.pending-div {
    margin: 100px auto;
    border: 1px solid black;
    text-align: center;

    & > h2 {
        padding-top: 25px;
    }


    &--form {
        padding: 25px;
    }

    &--p {
        text-align: center;
        cursor: pointer;
        font-style: italic;
        padding-top: 15px;
    }

    &--p:hover {
        color: blue;
        text-decoration: underline;
    }

}

#send-div {
    display: none;
}