:root {
    --dark-green : #516035;
    --light-green : #768950;
    --dark-grey : #565656;
    --usual-color : white;
}

body {
    background-color: var(--light-green);
}

.f-white {
    color: var(--usual-color);
}

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*weight text : */

.bold{
    font-weight: bold;
}
.italic{
    font-weight: italic;
}

/*Coulor text : */

.white{
    color: white;
}
.black{
    color: black;
}
.red{
    color: darkred;
}

/*size text : */

.px40{
    font-size: 40px;
}
.px35{
    font-size: 35px;
}
.px30{
    font-size: 30px;
}
.px24{
    font-size: 24px;
}
.px20{
    font-size: 20px;
}
.px17{
    font-size: 17px;
}