*{
    font-family:sans-serif;
}

.logoBackOffice{
	position: absolute;
	top: 10px;
	left: 10px;
}

#bodyPageCreationArticle{
	background-color: #353535;
}


/********************<FORM>*********************/
#productInformation{
	display: flex;
	flex-direction: row;
}

#pageProduct {
	color:  #313034;
	display: flex;
	justify-content: center;
	margin-top: 150px;
}
#formCreationArticle {
	background-color: #707070;
    display: flex;
	flex-direction: column;
	padding: 0px 20px;
}
#pageProduct h1 {
	background-color: #8ebf25;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	text-align: center;
	padding: 30px;
}

#product input {
	margin: 10px 30px 10px 0;
	width: 100%;
}

#product {
	margin-top: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}
#product input {
	border-radius: 3px;
	border: 1px solid black;
	padding: 7px;
	background-color: white;
}

#product input::placeholder {
	color:#313034;
}
/****WYSIWYG****/
#editor{
	width: 500px; 
	height: 180px; 
	border: 1px solid black; 
	padding: 5px; 
	overflow: auto; 
	margin-top: 15px;
	margin-bottom: 30px;
}

#CreaText{
	margin-top: 30px;
}
/********************<BUTTON FORM>*********************/
#create_product {
	padding: 4px 8px;
	background-color: #8ebf25;
	border-radius: 15px;
	width: 35%;
	margin: 0 auto;
	font-size: 14px;
}
/********************</BUTTON FORM>*********************/
/********************<PREVIEW IMAGE>*********************/
#divImgPrevu {
padding: 10px;

}
.imagePrevu {
	width: 175px;
	min-height: 175px;
	border: 2px solid transparent;
	margin-top: 15px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: grey;
}
.imagePrevuImage{
	display: none;
	width: 100%;
}
/********************</PREVIEW IMAGE>*********************/
/********************</FORM>*********************/
/********************</Body>*********************/
