body {
    background-color: var(--light-green);
}

/***** Form Sign *****/


button:focus, input:focus {
    outline: none;
  }

form{
    display: block;
    width: 60%;
}


strong{
    font-size: 20px;
}

input{
    padding-left: 0.25rem;
}

#log input, #log select, #log button{
    border-radius: 5px;
    border: none;
}


.allreadyCustomer{
    cursor: pointer;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}
.allreadyCustomer:hover{
    text-decoration: underline;
}

.form_sign{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.form_sign_error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}


.send_profil{
    cursor: pointer;
    display: block;
    margin: auto;
    width: 8rem;
    margin-top: 1rem;
}
.send_profil:hover{
    box-shadow: 0px 2px 2px black;
}

.form1{
    display: flex;
    flex-direction: column;
}


.form_content{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.cgu_checkbox{
    width: 15px;
    margin-right: 0.5rem;
}
#span_cgu{
    display: flex;
    justify-content: center;
}

.form1>.input_date_naissance{
    display: block;
}

.form1>label{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.form1>label>input{
    width: 20rem;
    margin-bottom: 25px;

}
form>label>input{
    margin: 10px;
}
.form1>*{
    font-weight: bold;
}

form>label{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_date_naissance>label>input{
    width: 50px;
    margin-top: 20px;
    margin-left: 0.25rem;
}
#errorSign{
    background-color: red;
    padding: 10px;
}
.form_log_error_sign{
    display: none;
}


article#log{
    display: none;
}
#log {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8EA75D;
    border-radius: 25px 25px 55px 55px;
    /* margin: 150px 35% 0 35%; */
    width: 33%;
    padding: 0;
}

#log_sign{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.form2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10% 0 10% ;
} 
#log h2 {
    font-size: 40px;
    margin: 50px 50px 30px 50px;
} 
#log form {
    width: 90%;
}
.form2 input::placeholder{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.form2 input{
    width: 100%;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 13px;
    padding: 8px;
}
.form2>button{
    cursor: pointer;
    margin: 40px;
    height: 80px;
    width: 50%;
    padding: 5px;
    border-radius: 13px;
    font-size: 1.5vw;
}
.form2>button:hover{
    border-radius: 16px;
    box-shadow: 0px 2px 2px black;
}
#log p {
    display: flex;
    align-self: flex-start;
    align-items: flex-end;
    margin: 3px;
}
#logToSign:hover{
    cursor: pointer;
    text-decoration: underline;
}
.error{
    position: absolute;
    top: 10%;
    text-align: center;
}
span p {
    background-color: red;
    border-radius: 20px;
}

@media (max-width: 1080px) {
    /*Sign Media*/
    form{
        width: 80%;
    }
    .form1>label>input{
        width: 16rem;
    }
    /*Login media*/
    #log{
        width: 50%;
    }
    .form2>button{
        width: 70%;
        font-size: 3vw;
    }
}
@media (max-width: 730px) {
    /*Sign Media*/
    form{
        width: 100%;
    }
    .form1>label>input{
        width: 13rem;
    }
    .form1>.input_date_naissance{
        display: flex;
    }
    .form1>.input_date_naissance>label{
        margin-top: 10px;
    }
    /*Login media*/
    #log{
        width: 70%;
    }
    .form2>button{
        width: 80%;
        font-size: 4vw;
    }
}
@media (max-width: 450px) {
    /*Sign Media*/
    .form_content{
        flex-direction: column;
    }
    .form_sign{
        height: 150vh;
    }
    .form1{
        align-items: center;
    }
    .form1>.input_date_naissance{
        display: block;
    }
    .form1>label>input{
        width: 20rem;
    }
    /*Login media*/
    #log{
        width: 100%;
    }
    .form2>button{
        width: 70%;
        font-size: 5vw;
    }
}