h1{
    margin-top: 10vh;
    text-align: center;
    font-size: 3em;

}

.border{
    border: 2px solid black;
}

#sommaire{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15vh 0;
}

#avatar{
    background-color: #8EA75D;
}

#eltProfil{
    background-color: #9AB662;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;

    width: 20vw;
    height: 44vh;
}

#eltProfil a{
    margin: 0 1.7vw;
    font-size: 1.2em;
    font-weight: bold;
}

#profil{
    text-align: center;
}

#profil div{
    display: flex;
    justify-content: center;
}

#profil span{
    text-align: left;
}

#sendBtn{
    display: flex;
    justify-content: center;
    text-align: center;

    margin: 10vh 0;
}