.footer {
    background-color: var(--dark-grey);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer--logo {
    width: 10%;
}
.footer > ul > li {
    padding: 5px 0;
}