.top-bar--top {
    display: flex;
    background-color: var(--dark-green);
    justify-content: space-between;
    padding: 25px 40px;
    position: relative;
}
.top-bar--link {
    color: var(--usual-color);
    font-size: 1.2em;
    margin-right: 20px;
}
.search-bar {
    display: flex;
    background-color: white;
    padding: 5px;
    width: 100%;
    border-radius: 0 25px 0 0;
}
.search-bar--input {
    outline: none;
    border: none;
}
.search-bar--submit {
    background-color: transparent;
    appearance: normal;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 30px;
}
.search-bar--icon {
    width: 18px;
}
.head-items {
    display: flex;
    align-items: center;
}
.head-items--btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
.head-items--icon {
    width: 25px;
    margin-left: 20px;
}
.top-bar--bottom {
    display: flex;
    align-items: flex-start;
}
.annex-nav-wrapper {
   width: 50%;
   background-color: var(--dark-grey); 
}
.annex-nav {
    width: 90%;
    display: flex;
    /* justify-content: space-around; */
}
.annex-nav--items {
    color: var(--usual-color);
    font-size: .8em;
    padding: 10px 0;
    flex: 1;
    text-align: center;
    transition: .6s;
}
.annex-nav--items:hover {
    background-color: var(--usual-color);
    color: var(--dark-grey);
}
.top-bar--logo {
    position: absolute;
    margin: 0 auto;
    width: 10%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}




#customerName{
    margin: 0 1vw 0 2vw;
    font-weight: bold;
    font-size: 1.5em;
}

/* Panier Menu Burger */

.listShopping{
    background-color:white;
     position: absolute;
     top: 100%;
     right: 0; 
 }
 
 .listShopping h1{
     text-align: center;
 }
 
 .item{
     display: flex;
     flex-direction: row;
     margin-bottom: 15px;
 }
 
 .itemPicture{
     display: inline-block;
     margin-left: 15px;
 }
 
 .itemPicture img{
     max-width: 150px;
     max-height: 150px;
     margin-top: 34px;
 }
 
 .itemInfo{
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
 }
 
 .priceProduct{
     padding: 6px;
     background-color:#768950;
     border-radius: 3px;
     margin-top: 30px;
     text-align: center;
     color: white;
     margin-bottom: 3px;
 }
 
 .itemInfo{
     margin-left: 15px; 
     font-size: 20px;
 }
 
 .itemQuantity{
     margin-top: 90px;
     margin-left: 15px;
 }
 
 .itemDelete img{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     cursor: pointer;
 }

 #buyBasket{
     color: white;
     background-color: #5E6E3F;
     padding: 5px 10px;
     border-radius: 3px;
     display: block;
     margin: 15px auto;
 }

 .imageBtn{
    background: none;
    border: transparent;
    margin-top: 30px;
 }

 .newQuantityBtn{
     padding: 2px 4px;
     background-color: #768950;
     color: white;
     border-radius: 3px;
 }