.container-tree {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}
.container-tree--trees {
    width: 15%;
    margin: 20px 0;
}
.container-tree--comment {
    font-weight: bold;

}
.banner {
    display: flex;
    background-color: var(--dark-grey);
    padding: 35px 15px;
    margin: 100px 0;
}
.banner--picture {
    width: 25%;
    margin-right: 20px;
    height: 100%;
}
.banner--title {
    padding-bottom: 15px;
}
.post-container {
    margin: 0 auto;
    padding: 100px 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post {
    width: 60%;
    padding-bottom: 50px;
}
.post--btn {
    align-self: flex-end;
}
.post-title {
    padding-bottom: 25px;
}
.container-article-wrapper {
    width: 90%;
    margin: 0 auto;
}
.product-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.product-link {
    width: 13%;
}
.container-articles {
    padding : 50px 0;
}
.moral {
    display: flex;
    justify-content: center;
}
.moral--txt {
    font-size: 1.7em;
    padding: 100px 0;
}