* {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
body {
    background-color:#353535;
}

.logoBackOffice{
    position: absolute;
    top: 10px;
    left: 10px;
}

#blocLog {
    background-color: #707070;
    width: 536px;
    height: 750px;
    margin: 100px auto 0 auto;
    border-radius: 40px;
    box-shadow: 0 0 7px #313034;
}

#pLog {

    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 40px;
    padding-top: 80px;
    margin-bottom: 80px;
}

#divInputLog {
    width: 80%;
    margin: 0 auto;
}

#divInputLog input {
    background-color: white;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 50px;
}
#divSubmit {
    width: 30%;
    margin: 40px auto;
}

#divSubmit input{
    background-color: white;
    width: 100%;
    padding: 5px;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 20px;
}

#buttonLog {
    color: #313034;
    background-color: white;
    cursor: pointer;

}
#buttonLog:hover {

    font-size: 25px;
}