* {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
body {
    background-image: url("/img/backgroundImg.jpg");
}
#blocLog {
    background-color: white;
    width: 500px;
    height: 500px;
    margin: 100px auto 0 auto;
    border-radius: 30px;
    box-shadow: 0 0 7px #313034;
}

#pLog {
    background-color: #8ebf25;
    text-align: center;
    padding: 30px 0;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    color: #313034;
    font-size: 25px;
    margin-bottom: 50px;
}

#divInputLog {
    width: 80%;
    margin: 0 auto;
}

#divInputLog input {
    background-color: #8ebf25;
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#buttonLog {
    color: #313034;
    background-color: #8ebf25;
    margin-top: 25px;
    cursor: pointer;
}
#buttonLog:hover {

    font-size: 15px;
}