*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div{
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
}

label{
    display: flex;
    justify-content: space-between;
}