//COLOR

$black : #42495B;
$darkGreen :  #516035;
$lightGreen : #768950;
$flashGreen : #8ebf25;
$darkGrey : #565656;
$white : white;
$veryDarkGrey : #353535;
$lightGrey : #707070;
$transparent : transparent;
$mediumGrey : #C2BDBD;
$lightRed : #F95151;

//MARGIN & PADDING 
$marge1 : 2%;
$marge2 : 4%;
$marge3 : 6%;
$marge4 : 8%;
$marge5 : 10%;

$fixMarge1 : 10px;
$fixMarge2 : 20px;
$fixMarge3 : 30px;
$fixMarge4 : 40px;
$fixMarge5 : 50px;

//FONT-SIZE
$mainTitle : 2em;
$title : 1.5em;
$subtitle :1.2em;
$subtitle2 : 1.1em;
$normalSize : 1em;
$weakSize : .8em;

//FONT-WEIGHT 
$bold : 700;
$normal : 500;
$light : 300;

//FONT-FAMILY 
$poppins : 'Poppins', sans-serif;
$lato : 'Lato', sans-serif;

//WIDTH
$smallW : 25%;
$semiSmallW : 35%;
$normalW : 50%;
$semiLargeW : 80%;
$largeW : 100%;

$smallFixW : 22px;
$normalFixW : 40px;
$largeFixW : 50px;

//HEIGHT 
$largeH : 100%;

//RADIUS
$lightRadius : 10px;
$semiRounded : 30px;
$maxRounded : 100px;

//DEVICE SIZES
$phoneSize : 450px;
$tabletSize : 960px;
$laptopSize : 1600px;

//CENTER
$center : center;

//NONE
$none : none;

//FLEX
$flex : flex;
$row : row;