@use "sass:map";
.my-1 {
  margin: 2% 0; }

.my-2 {
  margin: 4% 0; }

.my-3 {
  margin: 6% 0; }

.my-4 {
  margin: 8% 0; }

.my-5 {
  margin: 10% 0; }

@media screen and (max-width: 960px) {
  .my-1-tablet {
    margin: 2% 0; }
  .my-2-tablet {
    margin: 4% 0; }
  .my-3-tablet {
    margin: 6% 0; }
  .my-4-tablet {
    margin: 8% 0; }
  .my-5-tablet {
    margin: 10% 0; } }

@media screen and (max-width: 450px) {
  .my-1-phone {
    margin: 2% 0; }
  .my-2-phone {
    margin: 4% 0; }
  .my-3-phone {
    margin: 6% 0; }
  .my-4-phone {
    margin: 8% 0; }
  .my-5-phone {
    margin: 10% 0; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

ul {
  list-style: none; }

@media screen and (max-width: 450px) {
  body {
    font-size: 80%; } }

.flex, .flex--column, .flex--row, .flex--row-reverse, .flex--column-reverse {
  display: flex;
  flex-wrap: wrap; }
  .flex--column {
    flex-direction: column; }
  .flex--row {
    flex-direction: row; }
  .flex--row-reverse {
    flex-direction: row-reverse; }
  .flex--column-reverse {
    flex-direction: column-reverse; }

.justify--center {
  justify-content: center; }

.justify--around {
  justify-content: space-around; }

.justify--between {
  justify-content: space-between; }

.align--baseline {
  align-items: baseline; }

.align--center {
  align-items: center; }

.align--start {
  align-items: flex-start; }

.align--around {
  align-items: space-around; }

.align--between {
  align-items: space-between; }

.col1 {
  flex: 0 0 8.3%;
  width: 8.3%; }

.col2 {
  flex: 0 0 16.6%;
  width: 16.6%; }

.col3 {
  flex: 0 0 24.9%;
  width: 24.9%; }

.col4 {
  flex: 0 0 33.2%;
  width: 33.2%; }

.col5 {
  flex: 0 0 41.5%;
  width: 41.5%; }

.col6 {
  flex: 0 0 49.8%;
  width: 49.8%; }

.col7 {
  flex: 0 0 58.1%;
  width: 58.1%; }

.col8 {
  flex: 0 0 66.4%;
  width: 66.4%; }

.col9 {
  flex: 0 0 74.7%;
  width: 74.7%; }

.col10 {
  flex: 0 0 83%;
  width: 83%; }

.col11 {
  flex: 0 0 91.3%;
  width: 91.3%; }

.col12 {
  flex: 0 0 99.6%;
  width: 99.6%; }

@media screen and (max-width: 960px) {
  .col1-tablet {
    flex: 0 0 8.3%;
    width: 8.3%; }
  .col2-tablet {
    flex: 0 0 16.6%;
    width: 16.6%; }
  .col3-tablet {
    flex: 0 0 24.9%;
    width: 24.9%; }
  .col4-tablet {
    flex: 0 0 33.2%;
    width: 33.2%; }
  .col5-tablet {
    flex: 0 0 41.5%;
    width: 41.5%; }
  .col6-tablet {
    flex: 0 0 49.8%;
    width: 49.8%; }
  .col7-tablet {
    flex: 0 0 58.1%;
    width: 58.1%; }
  .col8-tablet {
    flex: 0 0 66.4%;
    width: 66.4%; }
  .col9-tablet {
    flex: 0 0 74.7%;
    width: 74.7%; }
  .col10-tablet {
    flex: 0 0 83%;
    width: 83%; }
  .col11-tablet {
    flex: 0 0 91.3%;
    width: 91.3%; }
  .col12-tablet {
    flex: 0 0 99.6%;
    width: 99.6%; } }

@media screen and (max-width: 450px) {
  .col1-phone {
    flex: 0 0 8.3%;
    width: 8.3%; }
  .col2-phone {
    flex: 0 0 16.6%;
    width: 16.6%; }
  .col3-phone {
    flex: 0 0 24.9%;
    width: 24.9%; }
  .col4-phone {
    flex: 0 0 33.2%;
    width: 33.2%; }
  .col5-phone {
    flex: 0 0 41.5%;
    width: 41.5%; }
  .col6-phone {
    flex: 0 0 49.8%;
    width: 49.8%; }
  .col7-phone {
    flex: 0 0 58.1%;
    width: 58.1%; }
  .col8-phone {
    flex: 0 0 66.4%;
    width: 66.4%; }
  .col9-phone {
    flex: 0 0 74.7%;
    width: 74.7%; }
  .col10-phone {
    flex: 0 0 83%;
    width: 83%; }
  .col11-phone {
    flex: 0 0 91.3%;
    width: 91.3%; }
  .col12-phone {
    flex: 0 0 99.6%;
    width: 99.6%; } }

.header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  position: relative; }
  .header * {
    font-family: "Poppins", sans-serif; }
  .header .header--wave {
    position: absolute;
    top: -1%;
    right: -1%;
    z-index: -5;
    width: 62%; }
  .header .top-bar {
    display: flex;
    padding: 4% 0;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .header .top-bar--burger-btn, .header .top-bar--burger-btn--enable {
      display: none;
      width: 30px;
      height: 20px;
      background: none;
      border: none;
      position: relative;
      outline: none; }
      .header .top-bar--burger-btn span, .header .top-bar--burger-btn--enable span, .header .top-bar--burger-btn::before, .header .top-bar--burger-btn--enable::before, .header .top-bar--burger-btn::after, .header .top-bar--burger-btn--enable::after {
        width: 100%;
        height: 2px;
        background-color: #FFFFFF;
        content: "";
        display: block; }
      .header .top-bar--burger-btn::before, .header .top-bar--burger-btn--enable::before {
        transition: .25s;
        position: absolute;
        top: 0; }
      .header .top-bar--burger-btn::after, .header .top-bar--burger-btn--enable::after {
        transition: .25s;
        position: absolute;
        bottom: 0; }
      .header .top-bar--burger-btn--enable span {
        opacity: 0; }
      .header .top-bar--burger-btn--enable::before {
        top: 50%;
        transform: rotateZ(45deg) translateY(-50%); }
      .header .top-bar--burger-btn--enable::after {
        bottom: 50%;
        transform: rotateZ(-45deg) translateY(50%); }
    .header .top-bar--nav {
      display: flex;
      justify-content: flex-end;
      width: 50%; }
      .header .top-bar--nav .nav--items {
        margin: 0 6%;
        color: #FFFFFF;
        text-decoration: none;
        font-weight: 700; }
    .header .top-bar .logo {
      display: flex;
      align-items: flex-end; }
      .header .top-bar .logo--img {
        width: 25%; }
      .header .top-bar .logo--text {
        font-weight: 700;
        color: #42495B;
        font-size: 1.2em;
        padding-left: 8%; }
  .header--content {
    flex: 1;
    width: 100%; }
  .header--btn {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%); }

@media screen and (max-width: 960px) {
  .header--btn {
    position: relative;
    bottom: 0;
    left: 50%;
    margin: 40px 0; }
  .header--content {
    margin: 40px 0; }
  .header .top-bar--burger-btn, .header .top-bar--burger-btn--enable {
    display: inline-block; }
  .header .top-bar--nav {
    transition: transform .8s;
    transform: translateX(-100%);
    display: inline-flex;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    left: 0;
    top: 10%;
    border-radius: 0 30px 30px 0;
    background: linear-gradient(250deg, #6156f9, #1A129F 100%);
    width: auto;
    padding: 20px 40px; }
    .header .top-bar--nav--enable {
      transform: translateX(0); }
    .header .top-bar--nav .nav--items {
      padding: 10px 0; } }

.large-container {
  padding: 0 10%; }

.large-container-extended, .large-container-extended--bg-purple {
  width: 100%;
  padding: 10%; }
  .large-container-extended--bg-purple {
    background-color: #eceafe; }

.full-screen {
  min-height: 100vh; }

@media screen and (max-width: 450px) {
  .large-container {
    padding: 0 5%; } }

.title, .title--important, .title--main, .title--normal {
  font-family: "Poppins", sans-serif;
  color: #42495B;
  display: inline-block; }
  .title--important {
    font-size: 2.4em;
    font-weight: 700; }
  .title--main {
    font-size: 2em; }
  .title--normal {
    font-size: 1.5em; }
  .title--light {
    font-weight: 500; }
  .title--bold {
    font-weight: 700; }

.title-group {
  color: #7E76F9;
  font-size: 1em;
  font-family: "Lato", sans-serif;
  font-weight: 500; }

.btn, .btn--light, .btn--important, .btn--big {
  color: #42495B;
  background: linear-gradient(250deg, #6156f9, #1A129F 100%);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 100px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: inline-block;
  border: none;
  cursor: pointer;
  font-size: 0.8em; }
  .btn--light {
    background: none;
    background-color: #FFFFFF;
    border: 2px solid #1000FF;
    color: #42495B; }
  .btn--important {
    font-size: 1.2em; }
  .btn--big {
    padding: 14px 40px; }

.btn-circle {
  border-radius: 100%;
  box-shadow: 0px -3px 31px rgba(126, 118, 249, 0.3);
  width: 50px;
  height: 50px;
  padding: 10px;
  box-sizing: initial;
  display: inline-flex;
  justify-content: center;
  align-items: center; }

.paragraph {
  font-family: "Poppins", sans-serif;
  margin: 8% 0;
  color: #7A839E;
  font-weight: 300; }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  color: #42495B;
  box-shadow: 0px -3px 31px rgba(126, 118, 249, 0.1);
  border-radius: 30px;
  background-color: #FFFFFF; }
  .card--img {
    margin: 30px 0; }
  .card--title {
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 10px 0; }
  .card--important-title {
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 8% 0;
    text-align: center;
    font-size: 2em;
    font-weight: 500; }
  .card--text, .card--text--center {
    font-family: "Lato", sans-serif;
    margin: 10px 0; }
    .card--text--center {
      text-align: center; }
  .card--important, .card--important--blue {
    font-weight: 700;
    font-size: 1.5em;
    font-family: "Poppins", sans-serif;
    margin: 30px; }
    .card--important--blue {
      color: #1000FF; }
  .card .btn, .card .btn--light, .card .btn--important, .card .btn--big {
    margin: 8% 0; }
  .card .pos--right {
    align-self: flex-end; }

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 0; }
  .container-form .container-input {
    display: flex;
    align-items: center;
    width: 40%;
    padding: 2% 0; }
    .container-form .container-input .input-area {
      background-color: #F6F7FB;
      color: #42495B;
      padding: 20px;
      font-size: 1em;
      border: none;
      flex: 1; }
    .container-form .container-input .input-area::placeholder {
      color: #999999; }
    .container-form .container-input button {
      margin-left: 20px; }

@media screen and (max-width: 960px) {
  .container-form .container-input {
    width: 70%;
    padding: 6% 0; } }

@media screen and (max-width: 450px) {
  .container-form {
    padding: 6%; }
    .container-form .container-input {
      flex-direction: column;
      width: 90%; }
    .container-form .input-area {
      width: 100%;
      margin: 6% 0; } }

.footer {
  background-image: url("../../../img/footer.png");
  background-size: cover;
  padding-top: 15%;
  background-position: center end;
  padding-bottom: 6%;
  display: flex;
  align-items: flex-end; }
  .footer--container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: space-around; }
  .footer--container-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .footer--logo {
    font-size: 3em;
    font-family: "Poppins", sans-serif;
    color: #FFFFFF; }
  .footer--title {
    font-size: 2em;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    padding: 20px 0;
    text-align: center; }
  .footer--container-social {
    width: 100%;
    justify-content: space-around;
    display: flex; }
  .footer--group {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif; }
  .footer--list, .footer--list-link, .footer--list-contact, .footer--list-hours {
    width: 100%; }
    .footer--list li, .footer--list-link li, .footer--list-contact li, .footer--list-hours li {
      display: flex;
      justify-content: space-between;
      padding: 2% 0; }
  .footer--list-link {
    display: flex;
    flex: 1;
    justify-content: space-around;
    flex-direction: column;
    align-items: stretch; }
  .footer--link {
    color: #FFFFFF;
    text-decoration: none; }

@media screen and (max-width: 960px) {
  .footer--container {
    flex-wrap: wrap;
    padding-top: 25%;
    background-position: right;
    align-items: center; }
  .footer--container-logo {
    width: 50%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer--group {
    padding: 30px; }
  .footer--unit-padding {
    padding: 0 10px; } }

@media screen and (max-width: 960px) {
  .footer--list-link li {
    display: flex;
    justify-content: center; } }

@media screen and (max-width: 450px) {
  .footer--container {
    flex-direction: column;
    padding-top: 100%; }
  .footer--group, .footer--container-logo {
    width: auto; }
  .footer--group, .footer--group-hours, .footer--group-contact {
    width: 100%; }
  .footer--list *, .footer--list-link *, .footer--list-contact *, .footer--list-hours * {
    padding: 10px 0; }
  .footer--subtitle {
    text-align: center; } }
